<div id="<%= dom_id element %>">
  <table class="table table-striped table-hover">
    <tr>
      <th> Pokémon's Type </th>
    </tr>
 
    <tr>
      <td> <%= element.power %> </td>
    </tr>
  </table>
</div>
